.header {
    position: fixed;
    height: 10vh;
    right: -10vmin;
    z-index: 8;
}

.header .header__ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    text-decoration: none;
    text-align: end;
    transform: rotate(-90deg);
    top: auto;
    margin-top: 15vmin;
}

.header .header__ul li,
.header__ul a {
    margin: 1vw;
    color: #fff;
    font-size: 2.5vmin;
    cursor: pointer;
}