@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import "utilities/var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body,
#root {
    background: #050505;
    height: 100vh;
}