/* svg animation */

.binocular,
.arrow {
    transition: 0.25s ease-in forwards;
    animation: fill 0.5s ease-in-out forwards 0.5s;
}

@keyframes fill {
    from {
        fill: none;
    }

    to {
        fill: rgb(20, 19, 19);
    }
}

.binocular path:nth-child(1),
.arrow path:nth-child(1) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease-in-out forwards infinite;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

.binocular:hover,
.arrow:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .binocular {
        width: 100px;
        height: 100px;
    }
}

#skill-icon {
    transition: 0.25s ease-in forwards;
}

#skill-icon path:nth-child(1) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease-in-out forwards infinite;
}

.custom-shape-divider-bottom-1645847845 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645847845 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1645847845 .shape-fill {
    fill: #2a102b;
}